{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Details - ESPAM Formation University</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="dashboard-main">
      <nav class="dashboard-nav">
        <div class="dashboard-container">
          <button class="back-btn">
            <i class="lni lni-arrow-left"></i>
          </button>
          <h1 class="dashboard-title">ESPAM FORMATION UNIVERSITY</h1>
          <img
            src="{% static 'images/Espam Logo.png' %}"
            alt="ESPAM Logo"
            class="nav-logo"
          />
        </div>
      </nav>

      <main class="student-details-container">
        <div class="page-title">
            <h3>Student Details</h3>
        </div>
        <div class="student-details-content">
          <div class="student-photo">
            <img src="{% static 'images/student1.jpg' %}" alt="" />
          </div>
          <div class="student-fields">
            <div class="field-group">
              <div class="field-label">Surname:</div>
              <div class="field-value">FOLAKE</div>
            </div>
            <div class="field-group">
              <div class="field-label">Other Names:</div>
              <div class="field-value">Miracle Shirat</div>
            </div>
            <div class="field-group">
              <div class="field-label">Date of Birth:</div>
              <div class="field-value">24/07/2002</div>
            </div>
            <div class="row">
                <div class="col field-group">
                    <div class="field-label">Level:</div>
                    <div class="field-value">200</div>
                </div>
                <div class="col field-group">
                    <div class="field-label">Session:</div>
                    <div class="field-value">2023/2023</div>
                </div>
            </div>
            <div class="field-group">
              <div class="field-label">Department:</div>
              <div class="field-value">Computer Science</div>
            </div>
            <div class="field-group">
              <div class="field-label">Matric Number:</div>
              <div class="field-value">esp/csc/22/1022</div>
            </div>
            <div class="student-actions">
                  <button class="action-btn export-btn">
                    <i class="lni lni-download"></i>
                    EXPORT
                  </button>
                </div>
              </div>
          </div>
        </div>

        
      </main>

      <footer class="dashboard-footer">
        <p>All rights reserved by ESPAM FORMATION UNIVERSITY.</p>
      </footer>
    </div>
  </body>
</html>
